{% extends 'app/common.html' %}

{% block content %}

<!-- About us content -->

<!--<div class="au_heading">
    <h1>About Us</h1>
    <p>Developers that worked at the project</p>-->

    <section class="about-us">
        <div class="row">
            <div class="about-col">
                <img src="../../static/tool/alien3.jpg" alt="">
            </div>
            <div class="about-col">
                <h1> Daniele Galloppo </h1>
                <p>TODO: Add content</p>
                <a href="" class="hero-btn red-btn">GITHUB</a>
            </div>
        </div>

        <div class="row">
            <div class="about-col">
                <h1> Luca Morelli</h1>
                <p>TODO: Add content</p>
                <a href="" class="hero-btn red-btn">GITHUB</a>
            </div>
            <div class="about-col">
                <img src="../../static/tool/alien3.jpg" alt="">
            </div>
        </div>
    </section>


{% endblock %}